@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2') format('woff2');
    font-weight: 700;
    font-display: swap;
}


:root {

    /* Background */
    --color-bg-main: #f7f3ea;
    --color-bg-section: #f1eadf;
    --color-bg-card: #ffffff;

    /* Button */
    --color-btn-primary: #8b6f47;
    --color-btn-primary-hover: #735a37;
    --color-btn-text: #ffffff;

    /* Primary tone */
    --color-primary: #c8a97e;
    --color-primary-soft: #e6d7c3;

    /* Text */
    --color-text-main: #3a3228;
    --color-text-sub: #6f6558;
    --color-text-muted: #a39a8f;

    /* Border */
    --color-border-light: #e6e0d6;

    /* Shadow */
    --shadow-soft: 0 4px 12px rgba(0, 0, 0, 0.05);

    /* Font Size */
    --fs-xs: 1.2rem;
    --fs-sm: 1.4rem;
    --fs-md: 1.6rem;
    --fs-lg: 2rem;
    --fs-xl: 2.4rem;
    --fs-xxl: 3.2rem;

    /* Font Family */
    --font-primary: "Pretendard", system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;

    /* Font Weight */
    --fw-regular: 400;
    --fw-bold: 700;



}
